.card {
  height: "350px";
  width: "250px";
  border: "1px solid black";
  display: "flex";
  justifycontent: "center";
  alignitems: "center";
  flexdirection: "column";
}

.imageSize {
  height: 200px;
  width: 200px;
}
