.HomePage {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* height: calc(100vh - 54px); */
  background-image: url("https://images.pexels.com/photos/1251265/pexels-photo-1251265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Slogan {
  margin: 0;
  text-align: center;
  font-family: "Cinzel", serif;
  color: snow;
  font-size: 55px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 400px) {
  .HomePage {
    height: 660px;
  }
  .Slogan {
    font-size: 45px;
  }
}
