.HomePage {
  margin: 0;
  width: 100vw;
  height: 550px;
  background-image: url("https://images.pexels.com/photos/1251265/pexels-photo-1251265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Slogan {
  margin: 0;
  /* height: 300px;
  width: 300px; */
  text-align: center;
  font-family: "Cinzel", serif;
  color: yellow;
  font-size: 55px;
  letter-spacing: 1px;
}
