.Mainbar {
  margin: 0px;
  height: 50px;
  width: 100%;
  background-color: slategray;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.route {
  margin: 15px;
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: snow;
}
