.Footer {
  margin: 0px;
  height: 54px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
