.logpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logbuttons {
  /* margin-top: 300px; */
  height: 100px;
  width: 100px;
  border: black 1px solid;
}
