.logpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logbuttons {
  height: 100px;
  width: 100px;
  border: black 1px solid;
}
